body{
    height: 100vh; /* view height */
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #566573;
}